<h1>Edit Request</h1>

<%= form_for @request do |f| %>
<div class="form-group">
  <%= f.label(:name) %>
  <%= f.text_field(:name, {class: "form-control"}) %>
</div>
<div class="form-group">
  <%#f.text_field(:title, {value: params[:question][:title]})%>
  <%= f.label(:email) %>
  <%= f.text_field(:email, {class: "form-control"}) %>
</div>
<div class="form-group">
  <!-- will need to be option -->
  <%= f.label(:department) %>
  <%= f.text_field(:department, {class: "form-control"}) %>
</div>
 <div class="form-group">
  <%= f.label(:message) %>
 <%= f.text_area(:message, {class: "form-control"}) %>
</div>
<div class="form-group">
 <%= f.label("Mark as Complete?") %>
<%= f.check_box(:status, {class: "form-control"}) %>
</div>
<%= f.submit "Save" %>
<% end %>
